@media screen and (min-width: 36.25em) {
  :root {
    --edge-distance: 3.2rem;
  }

  .logo {
    font-size: 3.052rem;
  }

  .header {
    margin-bottom: 16rem;
  }

  .logo,
  .navigation-first-option {
    margin-right: 3.2rem;
  }

  .error-heading,
  .error-subtext {
    font-size: 3.815rem;
  }

  .error-subtext {
    margin-bottom: 2.4rem;
  }

  .home-button {
    max-width: 500px;
    margin: 0;
    font-size: 3.052rem;
  }
}

@media screen and (min-width: 48.75em) {
  :root {
    --edge-distance: 4.8rem;
  }

  .header {
    padding-top: 3.2rem;
  }

  .logo,
  .navigation-first-option {
    margin-right: 4rem;
  }

  .outer-container {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  .error-heading,
  .error-subtext {
    font-size: 4.768rem;
  }

  .illustration-img {
    display: inline-block;
    width: 300px;
  }
}

@media screen and (min-width: 70em) {
  .header {
    padding-top: 4.8rem;
    margin-bottom: 20rem;
  }

  .logo {
    font-size: 3.815rem;
  }

  .logo,
  .navigation-first-option {
    margin-right: 4.8rem;
  }

  .navigation-option {
    font-size: 3.052rem;
  }

  .error-heading,
  .error-subtext {
    font-size: 5.96rem;
  }

  .illustration-img {
    width: 400px;
  }
}

@media screen and (min-width: 75em) {
  .logo,
  .navigation-first-option {
    margin-right: 6.4rem;
  }

  .contact-heading {
    font-size: 4.768rem;
  }

  .reservation-input {
    margin-top: -4px;
  }

  .illustration-img {
    width: 600px;
  }
}
