<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My bookings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./bookingspage/css/general.css" />
    <link rel="stylesheet" href="./bookingspage/css/style.css" />
    <link rel="stylesheet" href="./bookingspage/css/media.css" />
    <script defer src="./bookingspage/js/main.js"></script>
  </head>
  <body class="body">
    <%- include("./components/header.ejs") %>
    <main class="main outer-container max-width-container">
      <h1 class="bookings-heading">My bookings</h1>
      <div class="bookings-container">
        <% if(bookings.length !== 0) { for (booking of bookings) { %> <%-
        include("./components/bookingarticle.ejs", {booking}) %> <% } %> <% }
        else { %>
        <p class="no-bookings-text">No bookings were found</p>
        <% } %>
      </div>
      <img class="illustration-img" src="./bookingspage/img/planet.svg" />
    </main>
  </body>
</html>
