.autocomplete__wrapper {
  color: #343a40;
}
.autocomplete__hint,
.autocomplete__input {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  width: 100%;
  color: #343a40;
}

.autocomplete__input--default {
  padding: 2px;
}
.autocomplete__input {
  border: none;
  background-color: transparent;
  position: relative;
  color: #343a40;
  padding: 2px;
  padding-left: var(--edge-distance, 2.4rem);
  font-size: 2.441rem;
  margin-top: -3px;
  font-weight: 500;
}
.autocomplete__hint {
  color: #b1b4b6;
  position: absolute;
  color: #343a40;
}

.autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: none;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px;
}
.autocomplete__menu {
  background-color: #fff;
  color: #0b0c0c;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
  overflow: hidden;
}
.selected--mobile .autocomplete__menu {
  position: absolute;
}
.autocomplete__menu--visible {
  display: block;
}
.autocomplete__menu--hidden {
  display: none;
}
.autocomplete__menu--overlay {
  left: 0;
  position: absolute;
  top: calc(100% + 1.6rem);
  z-index: 100;
}

.selected--desktop .autocomplete__menu--overlay {
  top: 9.1rem;
  border-radius: 0 0 10px 10px;
}
.autocomplete__menu--inline {
  position: relative;
}
.autocomplete__option {
  cursor: pointer;
  display: block;
  position: relative;
  color: #343a40;
  padding-left: var(--edge-distance, 2.4rem);
  padding-bottom: 0.4rem;
  font-size: 2.441rem;
}
.autocomplete__option > * {
  pointer-events: none;
}
.autocomplete__option:first-of-type {
  border-top-width: 0;
}
.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: rgb(255, 247, 253);
  outline: 0;
}
@media (-ms-high-contrast: active), (forced-colors: active) {
  .autocomplete__menu {
    border-color: FieldText;
  }
  .autocomplete__option {
    background-color: Field;
    color: FieldText;
  }
  .autocomplete__option--focused,
  .autocomplete__option:hover {
    forced-color-adjust: none;
    background-color: SelectedItem;
    border-color: SelectedItem;
    color: SelectedItemText;
    outline-color: SelectedItemText;
  }
}
.autocomplete__option--no-results {
  color: #343a40;
  cursor: not-allowed;
}

.autocomplete__hint {
  padding: 5px;
}
