<header class="header outer-container max-width-container">
  <a href="/" class="logo">C<span class="color-pink--light">O</span></a>
  <a href="/" class="navigation-option navigation-first-option">Home</a>
  <a href="/bookings" class="navigation-option">Bookings</a>
</header>
